{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
    .settings-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
</style>

{% for pc in pc  %}
<div class="modal fade" id="exampleModal{{pc.number}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">PC number {{pc.number}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                {% if pc.status != 1 %}
                    {% if pc.status == 3 %}
                    <form action="{% url 'edit_pc_url' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{pc.number}}" name="pc_number">
                        <button type="submit" class="btn btn-primary" style="margin: 5px;">Togrilandi</button>
                    </form>
                    {% else %}
                    <form action="{% url 'edit_pc_url' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{pc.number}}" name="pc_number">
                        <button type="submit" class="btn btn-primary" style="margin: 5px;">Buzildi</button>
                    </form>
                    {% endif %}
                    <form action="{% url 'delete_pc_url' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{pc.number}}" name="pc_number">
                        <button type="submit" class="btn btn-danger" style="margin: 5px;">Delete</button>
                    </form>
                {% else %}
                    <h3>PC ni ochirib kegin urinib koring</h3>
                {% endif %}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
{% endfor %}



<div class="modal fade" id="exampleModaladd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Pc</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'add_pc_url' %}" method="post">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="number" placeholder="Add number of new pc: " class="form-control" name="pc_number" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {% for message in messages %}
                <h1 class="modal-title" id="exampleModalLabel" style="font-size: xx-large;">{{message}}</h1>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

{% if messages %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
        myModal.show();
    });
</script>
{% endif %}

<div class="row d-flex justify-content-end" >
    <div class="col d-flex justify-content-end ">
        <div>
            <button type="submit" class="btn btn-primary m-t-sm" data-bs-toggle="modal" data-bs-target="#exampleModaladd">+ add Pc</button>
        </div>
    </div>
</div><br>

<div class="row">
    {% for pc in pc  %}
    <div class="col-xl-4">
        <div class="card">  
            <button class="settings-button" data-bs-toggle="modal" data-bs-target="#exampleModal{{pc.number}}">
                <i class="material-icons">settings</i> <!-- Replace with the appropriate icon class -->
            </button>
            <div class="card-body">
                <h1 class="card-title d-flex justify-content-center" style="font-size: xx-large;"> {{pc.number}} </h1>

                <div class="d-flex justify-content-center">
                    <h4>status:</h4>
                    <h4 id="Status{{pc.number}}">{% if pc.status == 1 %} Band {% elif pc.status == 2 %} Bo'sh {% else %} Buzilgan {% endif %}</h4>
                </div><hr>
                {% if pc.status == 2 %}
                    <div class="d-flex justify-content-center">
                        <form action="{% url 'pc_on_off_url' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="pc_number" value="{{pc.number}}">
                            <input type="hidden" name="is_student" value="true">
                            <button class="btn btn-primary m-t-sm" style="background-color: yellowgreen; margin: 5px;" >Student</button>
                        </form>
                        <form action="{% url 'pc_on_off_url' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="pc_number" value="{{pc.number}}">
                            <button type="submit" class="btn btn-primary m-t-sm" style="margin: 5px;">Stranger</button>
                        </form>
                    </div>
                {% elif pc.status == 1 %}
                <div class="d-flex justify-content-center">
                    <form action="{% url 'pc_on_off_url' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="pc_number" value="{{pc.number}}">
                        <button type="submit" class="btn btn-primary m-t-sm" style="background-color: red; margin: 5px;">OFF</button>
                    </form>
                </div>
                {% else %}
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{pc.number}}"> O'zgartirish</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>



{% endblock %}