{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col">
        <div class="page-description">
            <h3>{{student.first_name}} {{student.last_name}}</h3>
            <h4>ID: {{student.origin_id}}</h4>
            <h4>Degree: {{student.degree}}</h4>
            {% if student.is_student %}
            <h4>status : student</h4>
            {%else%}
            <h4>status : Outed</h4>
            {% endif %}
        </div>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        <span> {{ message }} </span>
    </div>
    {% endif %}
    {% endfor %}

{% endif %}


<div class="row">

    <div class="col">
        <div class="tab-pane fade show active" id="account-info" role="tabpanel" aria-labelledby="account-info-tab">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'student_edit_url' student.origin_id %}" method="post">
                        {% csrf_token %}
                        <div class="row m-t-lg">
                            <div class="col">
                                <label for="settingsInputFirstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" value="{{student.first_name}}" name="first_name">
                            </div>
                            <div class="col">
                                <label for="settingsInputLastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" value="{{student.last_name}}" name="last_name">
                            </div>
                        </div>
                        <div class="row m-t-lg">
                            <div class="col">
                                <button type="submit" class="btn btn-primary m-t-sm">Update</button>
                            </div>
                            <div class="col">
                            </div>
                        </div>
                    </form>
                    <form action="{% url 'student_delete_url' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{student.origin_id}}" name="origin_id">
                        <button type="submit" class="btn btn-danger m-t-sm">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>




<div class="row">
    <div class="col-md">
        <div class="card">

            <div class="card-header">
                <h5 class="card-title">Used Degrees</h5>
            </div>
            <div class="card-body">
                <div class="example-container">
                    <div class="example-content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">№</th>
                                    <th scope="col">Enter</th>
                                    <th scope="col">Exit</th>
                                    <th scope="col">Used degree</th>
                                    <th scope="col">Before</th>
                                    <th scope="col"> After  </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for degree in degree %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{degree.enter_exit.enter_time|date:"d.m.Y H:i"}}</td>
                                    <td>{{degree.enter_exit.exit_time|date:"d.m.Y H:i"}}</td>
                                    <td>{{degree.used_degree}}</td>
                                    <td>{{degree.before_degree}}</td>
                                    <td>{{degree.after_degree}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        {% if degree.paginator.num_pages > 1 %}
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                        
                        
                                {% for num in page_numbers %}
                                    <li class="page-item {% if num == degree.number %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endfor %}
                        
                            </ul>
                        </nav>
                        {% endif %}
                        


                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>

{% endblock %}
