{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        <span> {{ message }} </span>
    </div>
    {% endif %}
    {% endfor %}

{% endif %}


<div class="row">
    <div class="col">
        <div class="page-description">
            <h1>Students</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">

        <div class="card">
                <div class="tab-pane fade show active">
                        <div class="card">
                            <div class="card-body">
                                <form action="{% url 'en_ex_list_url' %}" method="get">
                                    <div class="row m-t-lg">
                                        <div class="col-md">
                                            <label for="settingsInputFirstName" class="form-label">From date</label>
                                            <input type="date" class="form-control"  name="from_time">
                                        </div>
                                        <div class="col-md">
                                            <label for="settingsInputLastName" class="form-label">To date</label>
                                            <input type="date" class="form-control" name="to_time">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary m-t-sm">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            <div class="card-body">
                <table class="table" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>enter</th>
                            <th>exit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enexit in page %}
                        <tr>
                            <td><a href="{% url 'student_edit_url' enexit.student.origin_id%}">{{enexit.student.origin_id}}</a></td>
                            <td>{{enexit.student.first_name}} {{enexit.student.last_name}}</td>
                            <td>{{enexit.enter_time}}</td>
                            {% if enexit.exit_time %}
                            <td>{{enexit.exit_time}}</td>
                            {% else %}
                            <td>Binoda</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if page.paginator.num_pages > 1 %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                
                        {% for num in page_numbers %}
                            {% if num == '...' %}
                                <li class="page-item disabled">
                                    <span class="page-link">...</span>
                                </li>
                            {% else %}
                                <li class="page-item{% if num == page.number %} active{% endif %}">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                
                    </ul>
                </nav>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}