{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        <span> {{ message }} </span>
    </div>
    {% endif %}
    {% endfor %}

{% endif %}
<div class="row">
    <div class="col">
        <div class="page-description">
            <h1>Students</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <table class="table" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Entered time</th>
                            <th>Exit time</th>
                            <th>Degrees</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in page %}
                        <tr>
                            <td>{{student.origin_id}}</td>
                            <td><a href="{% url 'student_edit_url' student.origin_id%}">{{student.first_name}} {{student.last_name}}</a></td>
                            <td>{{student.enter_exit.last.enter_time}}</td>
                            {% if student.enter_exit.last.exit_time %}
                            <td>{{student.enter_exit.last.exit_time}}</td>
                            {% else %}
                            <td>Still here</td>
                            {% endif %}
                            <td>{{student.degree}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Entered time</th>
                            <th>Exit time</th>
                            <th>Degrees</th>
                        </tr>
                    </tfoot>


                    
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                    <span aria-hidden="true">««</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                        {% endif %}
                
                        {% for num in page.paginator.page_range %}
                            <li class="page-item {% if num == page.number %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endfor %}
                
                        {% if page.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page.paginator.num_pages }}" aria-label="Last">
                                    <span aria-hidden="true">»»</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}