{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col">
        <div class="page-description">
            <h3>{{student.first_name}} {{student.last_name}}</h3>
            <h4>ID : {{student.origin_id}}</h4>
            <h4>Degree : {{student.degree}}</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'student_edit_url' student.origin_id %}" method="post">
                            {% csrf_token %}
                            <div class="row m-t-lg">
                                <div class="col-md">
                                    <label for="settingsInputFirstName" class="form-label">First Name</label>
                                    <input type="text" class="form-control" value="{{student.first_name}}" name="first_name">
                                </div>
                                <div class="col-md">
                                    <label for="settingsInputLastName" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" value="{{student.last_name}}" name="last_name">
                                </div>
                                <div class="col-md">
                                    <label for="settingsInputFirstName" class="form-label">ID</label>
                                    <input type="number" class="form-control" value="{{student.origin_id}}" name="origin_id">
                                </div>
                            </div>
                            <div class="row m-t-lg">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary m-t-sm">Update</button>
                                </div>
                            </div>

                        </form>
                        <div class="col">
                            <form action="{% url 'student_delete_url' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{student.origin_id}}" name="origin_id">
                                <button type="submit" class="btn btn-danger m-t-sm">Delete</button>
                            </form>
                        </div>

                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock %}
