{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        <span> {{ message }} </span>
    </div>
    {% endif %}
    {% endfor %}

{% endif %}

<style>
        .download-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #fbfbfb;
        color: rgb(32, 32, 32);
        border-radius: 5px;
        text-decoration: none;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .download-button:hover {
        background-color: #f0f0f0;
    }

    .download-icon {
        margin-right: 5px;
    }
</style>

<div class="row">
    <div class="col">
        <div class="page-description">
            <h1>Students</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row" style="text-align: end;">
                    <div class="col-md">
                        <a href="{% url 'student_table_url' %}" class="download-button">
                            <span class="download-icon">&#x1F4E5;</span> Download
                        </a>
                    </div>
                </div>
                <table class="table" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Degrees</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in page %}
                        <tr>
                            <td><a href="{% url 'student_edit_url' student.origin_id%}">{{student.origin_id}}</a></td>
                            <td>{{student.first_name}}</td>
                            <td>{{student.last_name}}</td>
                            <td>{{student.degree}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1" aria-label="First">
                                    <span aria-hidden="true">««</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                        {% endif %}
                
                        {% for num in page.paginator.page_range %}
                            <li class="page-item {% if num == page.number %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endfor %}
                
                        {% if page.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page.paginator.num_pages }}" aria-label="Last">
                                    <span aria-hidden="true">»»</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}