{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col">
        <div class="page-description">
            <h3>{{student.first_name}} {{student.last_name}}</h3>
            <h4>ID: {{student.origin_id}}</h4>
            <h4>Degree: {{student.degree}}</h4>
        </div>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
    {% if message.tags %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        <span> {{ message }} </span>
    </div>
    {% endif %}
    {% endfor %}

{% endif %}


<div class="row">

    <div class="col">
        <div class="tab-pane fade show active" id="account-info" role="tabpanel" aria-labelledby="account-info-tab">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'student_edit_url' student.origin_id %}" method="post">
                        {% csrf_token %}
                        <div class="row m-t-lg">
                            <div class="col">
                                <label for="settingsInputFirstName" class="form-label">First Name</label>
                                <input type="text" class="form-control" value="{{student.first_name}}" name="first_name">
                            </div>
                            <div class="col">
                                <label for="settingsInputLastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control" value="{{student.last_name}}" name="last_name">
                            </div>
                            <div class="col">
                                <label for="settingsInputID" class="form-label">ID</label>
                                <input type="number" class="form-control" value="{{student.origin_id}}" name="origin_id">
                            </div>
                        </div>
                        <div class="row m-t-lg">
                            <div class="col">
                                <button type="submit" class="btn btn-primary m-t-sm">Update</button>
                            </div>
                            <div class="col">
                                <form action="{% url 'student_delete_url' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{student.origin_id}}" name="origin_id">
                                    <button type="submit" class="btn btn-danger m-t-sm">Delete</button>
                                </form>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>




<div class="row">
    <div class="col-md">
        <div class="card">

            <div class="card-header">
                <h5 class="card-title">Used Degrees</h5>
            </div>
            <div class="card-body">
                <div class="example-container">
                    <div class="example-content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">№</th>
                                    <th scope="col">Enter</th>
                                    <th scope="col">Exit</th>
                                    <th scope="col">Used degree</th>
                                    <th scope="col">Before</th>
                                    <th scope="col"> After </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for degree in degree %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{degree.enter_exit.enter_time}}</td>
                                    <td>{{degree.enter_exit.exit_time}}</td>
                                    <td>{{degree.used_degree}}</td>
                                    <td>{{degree.before_degree}}</td>
                                    <td>{{degree.after_degree}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        {% if degree %}
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                        
                                {% if degree.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1" aria-label="First">
                                            <span aria-hidden="true">&laquo;&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ degree.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                        
                                {% for num in degree.paginator.page_range %}
                                    <li class="page-item {% if num == degree.number %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endfor %}
                        
                                {% if degree.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ degree.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ degree.paginator.num_pages }}" aria-label="Last">
                                            <span aria-hidden="true">&raquo;&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                        {% endif %}
                        


                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>

{% endblock %}
